body{
    margin: 0;
    background-image: url(images/background.png);
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(images/bannerbg.png);
    background-repeat: repeat-x;
}
.banner{
    position: absolute;
    margin: auto;
    display: block;
}

h1{
text-shadow: 2px 2px gray;
text-align: center;
}

.container{
    border: solid gray 4px;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.conbanner{
    margin: 0;
    display: flex;
    justify-content: left;
    background-image: url(images/rbg.png);
    background-repeat: repeat-x;
}

#redp{
    font-size: 65px;
    margin: 0%;
    color: red;
    font-weight: bold;
}

table{
    margin: 10px 10px;
}

table > td{
    margin: 10px 10px 10px;
}

.columns{
    display: flex;
    margin: 0;
}

.col{
    
    margin: 0;
   
}

.comment{

    border: solid gray 2px;
    border-radius: 10px;
    background-color: #E8DC9B;
    font-size: 10px;
    font-weight: bold;
    width: 50%;
    padding: 5px;
}


.comment > img{
    float: left;
    margin: 8px;
}

.comment > p{
    text-align: justify;
    font-size: 10px;
    padding: 10px;
    
}

.author{
    font-size: 10px;
    width: 50%;
    position: relative;
}

.author > img{
    position: absolute;
}

.author > p{
    position: relative;
    left: 40px;
}

.author > p >span{
    font-style: italic;
}

.col-overview{
    background-color: #A2B964;
    width: 250px;
}

dl>dt{
    font-size: 12px;
    font-weight: bold;
    padding-left: 10pt;
    margin-top: 10pt;
}

dl>dd{
    font-size: 10px;
}

img{
    overflow: hidden;
}

.footer{
    font-size: 12px;
    text-align: center;
    background-color: #A2B964;
    margin: 0;
    padding: 10px;
}

.validate{
    float: right;
}